.Preview {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview.is-3d.is-loaded {
  cursor: grab;
}

.Preview canvas {
  width: 650px;
  max-width: 100%;
  height: auto;   /* Manter a proporção */
  border-radius: 10px;
  margin: 0px 20px 0px 0px;
}

.Preview canvas.is-visible {
  opacity: 1;
}

.Preview.is-3d.is-dragging {
  cursor: grabbing;
}

.Preview.is-3d.has-error {
  opacity: 1;
  cursor: default;
}

.Preview .thumbnail {
  max-height: 256px;
  margin: auto;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview .thumbnail.is-visible {
  opacity: 1;
}

.Preview .error {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.Preview .ui.loader:before {
  border-color: transparent !important;
}

#babylonjsLoadingDiv {
  display: none !important;
}

.Preview.no-fade-effect,
.Preview.no-fade-effect canvas,
.Preview.no-fade-effect .thumbnail {
  transition: none;
}

.container-preview {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background: rgb(116,44,237);
  background: linear-gradient(0deg, rgba(116,44,237,1) 0%, rgba(194, 194, 194, 0.991) 50%, rgba(231,231,231,1) 97%);
  min-height: 70vh; /* Define a altura mínima como 50% da altura da viewport */
  position: relative;

}